* {
  margin: 0;
}
p {
  font-family: 0;
  margin: 0;
  font-size: 0;
}
a {
  text-decoration: none;
  color: none;
}
.desktop {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.head {
  width: 1024px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.gap1 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.image {
  width: 14px;
  height: 44px;
}
.headtext {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
.headtext:hover,
.headtext:active {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.image:hover,
.image:active {
  width: 20px;
  height: 50px;
  cursor: pointer;
}
.title {
  height: 60px;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.titlefont {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.color {
  width: 100vw;
  height: 75px;
  background-image: url(/bbb.png);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 80px;
}
.title1 {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
.colortitle {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.textstore {
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textgift {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
}
.texthelp {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.pic1 {
  width: 35px;
  height: 35px;
}
.shophelp {
  display: flex;
  height: 42px;
  padding-right: 50px;
  flex-direction: column;
}
.stylehelp {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.stylehelp:hover,
.stylehelp:active {
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
.textask {
  color: #06c;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.textask:hover,
.textask:active {
  font-size: 14px;
  cursor: pointer;
}
.column {
  display: flex;
  flex-direction: column;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.songolt {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.songoltpic {
  height: 78px;
  width: 120px;
}
.gap {
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
}
.scroll {
  width: 100vw;
  overflow: scroll;
}
.section1 {
  height: 558px;
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 60px;
}
.flex {
  display: flex;
  gap: 20px;
  width: fit-content;
}
.textstore1 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textgift1 {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.red {
  color: #b64400;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.name {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.196px;
  width: 340px;
}
.price {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  width: 340px;
}
.sec1pic1 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec1pic1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec1pic2 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec1pic2.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec1pic3 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec1pic3.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec1pic4 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec1pic4.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.section2 {
  height: 558px;
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.sec2pic1 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec2pic1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.name1 {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.196px;
  width: 197px;
}

.category2 {
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.image2 {
  width: 230px;
  height: 230px;
}
.cat2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 6px;
  height: 61px;
}
.name2 {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  width: 257px;
}
.price2 {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding-top: 32px;
}
.scrollcircle {
  display: flex;
  width: 230px;
  height: 58px;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.scrcircle1 {
  width: 12px;
  height: 12px;
  background: url(/scrl1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.scrcircle2 {
  width: 12px;
  height: 12px;
  background: url(/scrl2.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.scrcircle3 {
  width: 12px;
  height: 12px;
  background: url(/scrl3.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.scrcircle4 {
  width: 12px;
  height: 12px;
  background: url(/scrl4.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.scrcircle5 {
  width: 12px;
  height: 12px;
  background: url(/scrl5.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.section3 {
  height: 558px;
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.sec3pic1 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec3pic1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.name3 {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.196px;
  width: 326px;
}
.yellow {
  width: 12px;
  height: 12px;
  background: url(/yellow.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.blue {
  width: 12px;
  height: 12px;
  background: url(/blue.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.green {
  width: 12px;
  height: 12px;
  background: url(/green.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.pink {
  width: 12px;
  height: 12px;
  background: url(/pink.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.darkgrey {
  width: 12px;
  height: 12px;
  background: url(/darkgrey.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.brown {
  width: 12px;
  height: 12px;
  background: url(/brown.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.white {
  width: 12px;
  height: 12px;
  background: url(/white.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.darkblue {
  width: 12px;
  height: 12px;
  background: url(/darkblue.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.yellow1 {
  width: 12px;
  height: 12px;
  background: url(/yellow1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.black {
  width: 12px;
  height: 12px;
  background: url(/black.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.orange {
  width: 12px;
  height: 12px;
  background: url(/orange.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.pirple {
  width: 12px;
  height: 12px;
  background: url(/pirple.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.ligthgreen {
  width: 12px;
  height: 12px;
  background: url(/ligthgreen.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.ligthblue {
  width: 12px;
  height: 12px;
  background: url(/ligthblue.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.black1 {
  width: 12px;
  height: 12px;
  background: url(/black1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.oceanblue {
  width: 12px;
  height: 12px;
  background: url(/oceanblue.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
.section4 {
  height: 558px;
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.sec4pic1 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec4pic1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 50px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.name4 {
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.196px;
  width: 305px;
}
.sec4pic2 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec4pic2.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.grey {
  color: #6e6e73;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.sec4pic3 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec4pic3.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec4box {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section5 {
  height: 558px;
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.sec5pic1 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec5pic1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec5pic2 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec5pic2.png) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec5pic3 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec5pic3.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec5pic4 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: url(/sec5pic4.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.section6 {
  height: 558px;
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.sec6pic1 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec6pic1.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec6pic2 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec6pic2.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec6pic3 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec6pic3.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec6pic4 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec6pic4.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sec6pic5 {
  width: 400px;
  height: 500px;
  border-radius: 24px;
  background: url(/sec6pic5.jpg) lightgray 0px 0px / 100% 100% no-repeat;
  padding-top: 30px;
  padding-left: 30px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.section7 {
  display: flex;
  padding: 0 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 100px;
}
.Quick {
  display: flex;
  gap: 12px;
}
.vector {
  width: 8px;
  height: 8px;
}
.border {
  display: flex;
  gap: 8px;
  border-radius: 50px;
  border: 1px solid black;
  color: #1d1d1f;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
}
